n8n/workflows/admin-report.json
{
  "name": "Admin Report",
  "nodes": [
    {
      "parameters": {"path": "admin/report", "responseMode": "responseNode", "options": {}},
      "id": "admin-report-webhook",
      "name": "Admin Report Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "admin-report"
    },
    {
      "parameters": {"url": "http://backend:8000/api/v1/settings", "options": {}},
      "id": "admin-report-settings",
      "name": "Get AI Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/v1/reports/admin",
        "options": {}
      },
      "id": "admin-report-api",
      "name": "Admin Report API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 300]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}", "options": {}},
      "id": "admin-report-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Admin Report Webhook": {"main": [[{"node": "Get AI Settings", "type": "main", "index": 0}]]},
    "Get AI Settings": {"main": [[{"node": "Admin Report API", "type": "main", "index": 0}]]},
    "Admin Report API": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
