n8n/workflows/customer-database.json
{
  "name": "Customer Database",
  "nodes": [
    {
      "parameters": {"path": "customers", "responseMode": "responseNode", "options": {}},
      "id": "customers-webhook",
      "name": "Customers Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "customers"
    },
    {
      "parameters": {"url": "http://backend:8000/api/v1/settings", "options": {}},
      "id": "customers-settings",
      "name": "Get AI Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/v1/customers",
        "options": {}
      },
      "id": "customers-api",
      "name": "List Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 300]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}", "options": {}},
      "id": "customers-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Customers Webhook": {"main": [[{"node": "Get AI Settings", "type": "main", "index": 0}]]},
    "Get AI Settings": {"main": [[{"node": "List Customers", "type": "main", "index": 0}]]},
    "List Customers": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
