n8n/workflows/restaurant-reservation.json
{
  "name": "Restaurant Reservation",
  "nodes": [
    {
      "parameters": {
        "path": "restaurant/reservation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "restaurant-reservation-webhook",
      "name": "Reservation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "restaurant-reservation"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/v1/settings",
        "options": {}
      },
      "id": "restaurant-reservation-settings",
      "name": "Get AI Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/conversations/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('Reservation Webhook').item.json.body.message || $('Reservation Webhook').item.json.body.text || '', channel: 'n8n-reservation', metadata: $('Reservation Webhook').item.json.body }) }}",
        "options": {}
      },
      "id": "restaurant-reservation-api",
      "name": "Local Conversation API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "restaurant-reservation-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Reservation Webhook": {
      "main": [[{"node": "Get AI Settings", "type": "main", "index": 0}]]
    },
    "Get AI Settings": {
      "main": [[{"node": "Local Conversation API", "type": "main", "index": 0}]]
    },
    "Local Conversation API": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
